	body{
		background-image: url("../images/stormbg.jpg");
		background-size:cover;
		margin:0;
		padding:0;
	}

	.container{
		margin-top:34px;

		.bottom-shadow{
			-webkit-box-shadow: 0px 13px 25px -5px rgba(92,79,92,.50);
			-moz-box-shadow: 0px 13px 25px -5px rgba(92,79,92,50);
			box-shadow: 0px 13px 25px -5px rgba(92,79,92,50);
		}

		.card{
			background-color: rgba(146, 65, 78, 0.44);
			padding:15px;
			color:white;

			img{
				width:100%;
			}
		}
	}

	.container-fluid {
		.footer{
			background-color: #222;
			border-color: #080808;
			color:#9d9d9d;
			margin-top:30px;
		}

		.footer-bottom{
			position:absolute;
			bottom:0;
			width:100%;
		}
		.social {
			display: flex;
			justify-content: center;

			a {
				text-decoration: none;
			}

			i {
				margin: 10px;
			}
		}
	}



	.container-2 {
		display: flex;
		justify-content: center;
	}

	form{
		color:white;
	}

	.navbar-brand{
		img{
			margin-top:-5px;
		}
	}

	.line{
		border-bottom: 1px solid rgb(255, 255, 255);
		margin:10px 0 30px 0;
	}

	.shadow{
		-webkit-box-shadow: 0px 0px 10px 2.5px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 10px 2.5px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 10px 2.5px rgba(0,0,0,0.75);
	}


.logo{
	margin:50px;
	background-color: rgba(146, 65, 78, 0.44);
	padding:45px;
	color:white;
}

//pins

	.columns {
		column-count: 5;
		column-gap: 10px;
		column-fill:auto;
		padding-top: 60px;
	}


	div {
		display:block;
	}

	div.pin {
		display:inline-block;
		border:2px solid #a1a1a1;
		box-shadow: 0px 3px rgba(34, 25, 25, 0.4);
		margin:0px 2px 15px 0px;
		-webkit-column-break-inside: avoid;
		break-inside: avoid;
		padding: 15px 15px 5px 15px;
		background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
		opacity: 1;
		border-radius: 5px;
	}

	.pin img {
		width:100%;
		border-radius: 3px;
		border-bottom: 5px;
		margin-bottom: 15px;
	}

	

